.AddInvoice-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  max-width: 71.9rem;
  background-color: var(--color-bg);
  z-index: 1001;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  padding-left: 15.9rem;
  overflow-y: auto;
}

.AddInvoice-container.show {
  transform: translateX(0);
}

.AddInvoice-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.AddInvoice-overlay.show {
  opacity: 1;
  pointer-events: all;
}

.AddInvoice-container::-webkit-scrollbar {
  width: 8px;
}

.AddInvoice-container::-webkit-scrollbar-track {
  background: transparent;
}

.AddInvoice-container::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  height: 112px;
}

.AddInvoice-content {
  padding: 2rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.AddInvoice-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.section-title {
  color: var(--color-text);
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-weight: 700;
}

.section-title span {
  color: var(--color-text-secondary);
}

.section-subtitle {
  color: var(--color-primary);
  font-size: 1.3rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}

.input-label {
  color: var(--color-text-secondary);
  font-size: 1.2rem;
  font-weight: 500;
}

.input-field {
  padding: 2rem 2rem;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  height: 4.5rem;
  width: 100%;
  font-family: "Spartan";
  background-color: var(--color-surface);
  color: var(--color-text);
  letter-spacing: 0.5px;
}

.input-field-full {
  width: 100%;
  max-width: 150.4rem;
}

.grid-3 {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.grid-2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-item-list-title {
  font-size: 1.8rem;
  color: var(--color-text-secondary);
}

.item-row {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1rem;
}

.item-delete {
  color: #ec5757;
  font-size: 1.2rem;
  cursor: pointer;
}

.AddInvoice-item {
  padding: 1.7rem;
  text-align: center;
  border: 1px dashed var(--color-border);
  background-color: var(--color-border);
  border-radius: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--color-text-secondary);
}

.AddInvoice-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.back:hover {
  cursor: pointer;
}

.AddInvoice-back {
  padding: 0px;
  display: none;
  font-size: 1.3rem;
  align-items: center;
  gap: 0.8rem;
}

.AddInvoice-cancel,
.AddInvoice-save {
  padding: 1.7rem 2.4rem;
  font-weight: 700;
  border-radius: 24px;
  font-size: 1.3rem;
  cursor: pointer;
}

.AddInvoice-cancel {
  background-color: var(--color-border);
  color: #7e88c3;
  border: none;
  align-self: flex-start;
}

.AddInvoice-save {
  background-color: var(--color-primary);
  color: white;
  border: none;
}

.AddInvoice-save-draft {
  background-color: var(--sidebar-bg);
}

.add-invoice-second {
  display: flex;
  justify-content: end;

  gap: 0.8rem;
}

.error-text {
  color: var(--color-danger);
  align-self: flex-end;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-label-title {
  text-transform: capitalize;
}

.section-item-list-subtitles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  color: var(--color-text-secondary);
}

.input-field {
  
  
  cursor: pointer;
  appearance: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.input-field:focus {
  outline: none;
  border-color: var(--color-secondary);
  box-shadow: 0 0 0 2px rgba(124, 58, 237, 0.3);
}


.input-field:hover {
  border-color: var(--color-secondary)
}





.item-delete {
  background-color: transparent;
}

@media screen and (max-width: 770px) {
  .AddInvoice-content {
    padding-top: 10rem;
  }

  .AddInvoice-container {
    padding-left: 0px;
  }

  .AddInvoice-back {
    display: flex;
  }
}

@media (max-width: 450px) {
  .AddInvoice-content {
    padding-top: 10rem;
    border-radius: 0;
    height: 100%;
    overflow-y: scroll;
  }

  .grid-2,
  .grid-3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .AddInvoice-footer {
    flex-direction: column;
    gap: 1rem;
  }

  .item-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }

  .input-field {
    font-size: 1rem;
  }

  .AddInvoice-item {
    text-align: center;
    margin: 2rem 0 1rem;
  }

  .AddInvoice-save,
  .AddInvoice-cancel {
    width: 100%;
  }
}
